<div class="container">
  <div class="header-container">
    <div class="header">
      <div class="left-nav">
        <h1>Iron Tix</h1>
      </div>
      <div class="right-nav">
        <a href="#/AdminDashboard">Admin</a>
      </div>
    </div>
  </div>

  <div class="main" ng-controller="MainController">
    <h1>Sweet Events!</h1>

    <!-- do something like this to repeat the products:
    <ul>
    <li ng-repeat="student in students | filter:name">{{student.name}}, {{student.city}}</li>
    </ul> -->

    <!-- <ul class="phones">
          <li ng-repeat="ng-repeat="event in events" class="thumbnail">
            <a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}"></a>
            <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
            <p>{{phone.snippet}}</p>
          </li>
        </ul> -->

        <!-- this below doesn't work -->
        <!-- <div class="col-md-4" ng-repeat="event in events">
          <div class="thumbnail">
            <h2>{{event.name}}</h2>
            <p class="location">{{event.location}} </p>
            <p class="price"> {{event.price | currency:"USD$"}}</p>
            <p class="date">{{event.date}}</p>
            <img src="img/unclevan.png">
          </div>
        </div> -->

    <div class="col-md-4">
      <div class="thumbnail">
        <h2>{{event.events[0].name}}</h2>
        <p class="location">{{event.events[0].location}} </p>
        <p class="price"> {{event.events[0].price | currency:"USD$"}}</p>
        <p class="date">{{event.events[0].date}}</p>
        <img src="{{event.events[0].image}}">
      </div>
    </div>
    <!-- <div class="col-md-4">
      <div class="thumbnail">
        <h2>{{ promo }}</h2>
        <p class="title"> {{ product.name }} </p>
        <p class="location">{{product.location}} </p>
        <p class="price"> {{ product.price }} </p>
        <p class="date">{{product.date}} </p>
        <img src="img/unclevan.png">
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <h2>{{ promo }}</h2>
        <p class="title"> {{ product.name }} </p>
        <p class="location">{{product.location}} </p>
        <p class="price"> {{ product.price }} </p>
        <p class="date">{{product.date}} </p>
        <img src="img/unclevan.png">
      </div>
    </div> -->
  </div>

  <div class="footer">
    <div class="footer-container">
      <h2>Get Our Stuff!</h2>
      <h3> Before it's gone</h3>
    </div>
  </div>
</div>
